transformers
torch
numpy
tf-keras
g4f[all]
pydub
pillow
moviepy==1.0.3
opencv-python
seewav 
pycairo 
tqdm
assemblyai
edge_tts
whisper_timestamped
imageio[ffmpeg]
huggingface_hub
requests
nltk
pytextrank